{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>

        <!-- Core -->
        <script src="{% static 'assets/vendor/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/vendor/js-cookie/js.cookie.js' %}"></script>
        <script src="{% static 'assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js' %}"></script>
        <script src="{% static 'assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js' %}"></script>
        <title>Djangostagram - InmookJeong</title>
    </head>

    <body>
        Hello Djangostagram
        <div>
            {% include 'login.html' %}
        </div>
    </body>
</html>